In [5]:
import json
import pandas as pd

In [ ]:
df = pd.read_json('farmers-protest-tweets-2021-03-5.json', lines=True)

In [1]:
df

NameError: name 'df' is not defined

In [20]:
def tweets(df):
    df_sorted = df.sort_values('retweetCount', ascending = False).head(10)
    tweets = df_sorted.loc[:,"url"]
    tweets
    return tweets

408128    https://twitter.com/rihanna/status/13566258896...
395142    https://twitter.com/GretaThunberg/status/13566...
266196    https://twitter.com/GretaThunberg/status/13572...
366579    https://twitter.com/miakhalifa/status/13568483...
372793    https://twitter.com/miakhalifa/status/13568277...
314192    https://twitter.com/TeamJuJu/status/1357048037...
215034    https://twitter.com/BobBlackman/status/1357755...
398011    https://twitter.com/vanessa_vash/status/135668...
325261    https://twitter.com/kylekuzma/status/135700972...
163689    https://twitter.com/AmandaCerny/status/1359013...
Name: url, dtype: object

In [4]:
def main(df):
    tweets(df)

In [6]:
main(df)

NameError: name 'df' is not defined